<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\pulkit\IntranetLog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="All"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <connectionStrings>
    <add name="UserInterface.Properties.Settings.Database1ConnectionString"
     connectionString="Data Source=|DataDirectory|\Database1.sdf"
     providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="UserInterface.Properties.Settings.URLMonitoringConnectionString"
     connectionString="Data Source=|DataDirectory|\URLMonitoring.sdf"
     providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="UserInterface.Properties.Settings.URLMonitringConnectionString"
     connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\URLMonitring.mdf;Integrated Security=True;User Instance=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MailPath" value="C:\Users\Pulkit\Documents\urlmonitoring\UserInterface\mail.htm"/>
    <add key="ConnectionString" value="Data Source=.\SQLEXPRESS;AttachDbFilename='C:\Users\sony vaio\Desktop\server monitoring\UserInterface\URLMonitring.mdf';Integrated Security=True;User Instance=True"/>
    <!--<add key="URL" value="http://www.indusvalleypartners.com/,http://www.ivp.in/careers.php,https://intranet.ivp.in/login.aspx,https://tracker.ivp.in:8443/secure/Dashboard.jspa,https://knowledge.ivp.in:8444/login.action" />
		<add key="service" value="Automatic Updates,Automatic Updates,Automatic Updates,Automatic Updates,Automatic Updates"/>
		<add key="URLwithpassword"  value="https://hr.ivp.in/,http://192.168.0.45:8442/Resource/TimeSheetEntry.aspx,http://202.54.213.245:8442/Resource/TimesheetEntry.aspx"/>
		<add key="servicesurl" value="Automatic Updates,Automatic Updates,Automatic Updates"/>
		<add key="FILEPATH" value="C:/Documents and Settings/harsingh/Desktop/url.txt"/>-->
    <add key="SMTP_server" value="smtp.gmail.com"/>
    <add key="Email" value="pulkit.bindra@gmail.com"/>
    <add key="Port" value="587"/>
    <add key="Emailto" value=""/>
    <add key="UserName" value=""/>
    <add key="Password" value=""/>
    <add key="Count" value="5"/>
    <add key="FILTERS" value="update,adobe air,acrobat,hotfix,adobe reader,books,tool,office proof, flash"/>
    <add key="REPORTPATH" value="C:/Users/sony vaio/desktop/project1/WindowsFormsApplication1/SystemReport.rdlc"/>
    <add key="FILEPATH" value="C:\Users\sony vaio\Desktop"/>
    <add key="FILENAME" value="Installed Applications"/>
   
  </appSettings>
</configuration>