<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FILTERS" value="update,adobe air,acrobat,hotfix,adobe reader,books,tool,office proof, flash"/>
    <add key="REPORTPATH" value="C:/Users/Pulkit/Documents/projects/project1/WindowsFormsApplication1"/>
    <add key="FILEPATH" value="C:/Users/Pulkit/Documents/Visual Studio 2008"/>
    <add key="FILENAME" value="Installed Applications"/>
  </appSettings>
</configuration>